<button type="button" id="check-in" onclick=
  "alert('You Found a Spot!')"
 name="<%=current_user.id %>">Check In</button>
<button type="button" id="spot-taken" onclick="alert('Spot Taken - Looking for a new spot')" name="spot-taken">Spot Taken</button>
