<div id="checkin-buttons">
  <div class = "container">
  <div class="centered text-center">
  <button type="button" class = "btn btn-primary" id="check-in"
   name="<%=current_user.id %>">Check In</button>
  <button type="button" class = "btn btn-success" id="spot-taken" name="spot-taken">Spot Taken</button>
  </div>
  </div>
</div>
