<button type="button" id="precheckout" onclick=
  "alert('You Pre-Checked Out!')"
 name="<%=current_user.checkedin_spot.id %>">Pre-Checkout</button>
<button type="button" id="check-out" onclick="alert('You Checked Out')" name="<%=current_user.checkedin_spot.id %>">Check Out</button>
