
<div id="checkout-buttons">
  <div class="container">
  <div class="centered text-center bottom-buffer">

  <button type="button" class="btn btn-primary right-buffer" id="precheckout" name="<%=current_user.checkedin_spot.id %>">Pre-Checkout</button>
  <button type="button" class = "btn btn-success left-buffer" id="check-out" name="<%=current_user.checkedin_spot.id %>">Check Out</button>
  </div>
  </div>
</div>
