<button type="button" class="btn btn-primary" id="precheckout" onclick=
  "alert('You Pre-Checked Out!')" name="<%=current_user.checkedin_spot.id %>">Pre-Checkout</button>
<button type="button" class = "btn btn-success" id="check-out" onclick="alert('You Checked Out')" name="<%=current_user.checkedin_spot.id %>">Check Out</button>
