
<div id="checkout-buttons">
  <div class="container">
  <div class="centered text-center">

  <button type="button" class="btn btn-primary" id="precheckout" name="<%=current_user.checkedin_spot.id %>">Pre-Checkout</button>
  <button type="button" class = "btn btn-success" id="check-out" name="<%=current_user.checkedin_spot.id %>">Check Out</button>
  </div>
  </div>
</div>
