<div id="spot-buttons">
  <% if current_user.checkedin_spot? %>
    <%= render "/spots/precheckout-checkout" %>
  <% else %>
    <%= render "/spots/check_in-spot_taken" %>
  <% end %>
</div>



<div class="centered text-center">
<input id="destination-input" class="controls form-control" type="text"
placeholder="Enter a destination location">
<button id="des-button" class="top-buffer btn btn-warning bottom-buffer" type="button" name="button">enter</button>
</div>




<div id="map"></div>
