<div id="spot-bottons">
  <% if current_user.checkedin_spot? %>
    <%= render "/spots/precheckout-checkout" %>
  <% else %>
    <%= render "/spots/check_in-spot_taken" %>
  <% end %>
</div>

<div class= "container top-buffer bottom-buffer">
	
<div class="centered text-center">
<input id="destination-input" class="controls form-control" type="text"
placeholder="Enter a destination location">
<button id="des-button" class="top-buffer btn btn-default" type="button" name="button">enter</button>
</div>
</div>


<div id="map"></div>
<div id="infowindow-content">
  <span id="place-name"  class="title"></span><br>
  Place ID <span id="place-id"></span><br>
  <span id="place-address"></span>
</div>
