<h1>Welcome to Park'd</h1>
<p>Share a Spot - Find a Spot</p>

<div class="">

<p>MAP GOES HERE!!</p>


<button type="button" onclick=
  "alert('You Found a Spot!'); location.href = '/spots/destroy'"
 name="check-in">Check In</button>

<button type="button" onclick="alert('Spot Taken - Looking for a new spot')" name="spot-taken">Spot Taken</button>
